@import "_mixins";
@import '_variables';
@import '_fonts';

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	justify-content: center;
	height: 338px;
	min-height: 338px;
	color: $text-color;
	text-transform: uppercase;
	font-family: 'Myriad Pro';
	padding-top: 80px;
	section {
		width: 1100px;
		height: 338px;

		> p {
			float: left;
			width: 100%;
			text-align: center;
			margin-top: 56px;
		}
		.column {
			width: 25%;
			float: left;
			h4 {
				font-size: 16px;
				padding-bottom: 20px;
				font-weight: 600;
			}
			form {
				float: left;
				width: 100%;
				input {
					float: left;
					height: 39px;
					border: 1px solid $text-color;
					&.send {
						width: 15%;
						cursor: pointer;
						position: relative;
						z-index: 2;
						background: $text-color url('../img/bg-submit.png') no-repeat 50% 50% / 16px 12px;
						text-indent: -9999px;
					}
				}
				input[type=email] {
					width: 85%;
					padding: 10px;
					color: $text-color;
				}
			}
			p {
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
			}
			ul {
				float: left;
				margin-top: 10px;
				li {
					width: 27px;
					height: 28px;
					float: left;
					background-image: url('../img/icons_footer.png');
					background-repeat: no-repeat;
					
					&:nth-child(1) {
						background-position: 0 0;
					}
					&:nth-child(2) {
						background-position: -37px 0;						
					}
					&:nth-child(3) {
						background-position: -74px 0;						
					}
					&:nth-child(4) {
						background-position: -111px 0;						
					}
					&+li {
						margin-left: 10px;
					}
				}
			}
		}
	}
}